In [1]:
first = "Rahul"
last = "Tandra"

In [8]:
full = f"{first}{last}"

In [9]:
full

'RahulTandra'

In [10]:
s = 'Rahul Tandra'

In [15]:
' Tan' in s

False

In [16]:
s ='rahul'

In [21]:
s.isupper()

False

In [22]:
s='rahul is my name'

In [23]:
s.split(' ')

['rahul', 'is', 'my', 'name']

In [24]:
x=['rahul', 'is', 'my', 'name']

In [25]:
'-'.join(x)

'rahul-is-my-name'

In [28]:
s

'rahul is my name'

In [40]:
s='  rahul  is  my  name   '

In [41]:
s.strip()

'rahul  is  my  name'

In [42]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

In [43]:
x

'banana'

In [44]:
3*'01'

'010101'

In [58]:
print("My name is \b Rahul Tandra")

My name is  Rahul Tandra

In [59]:
print("\110\145\154\154\157")

Hello

In [60]:
print("\x48\x65\x6c\x6c\x6f")

Hello

In [65]:
txt3 = "My name is {}, I'am {}".format("John",36)

In [66]:
txt3

"My name is John, I'am 36"

In [69]:
def is_palindrome(s):
    n = len(s)
    l = [ s[i] == s[n-i-1] for i in range(n // 2)]
    return all(l)

In [72]:
is_palindrome('gogog')

True

In [73]:
~2

-3

In [74]:
ord('0')

48

In [75]:
chr(ord('0'))

'0'

In [76]:
chr(48)

'0'

In [77]:
chr(90)

'Z'

In [81]:
chr(ord('0')+5)

'5'

In [82]:
chr(53)

'5'

In [97]:
s='-123'

In [98]:
for i in s[::-1]:
    print("Char", i)

Char 3
Char 2
Char 1
Char -

In [99]:
ord('-')

45

In [102]:
chr(48)

'0'

In [113]:
def str_to_int(s):
    
    is_negative = False
    if s[0] == '-':
        is_negative = True
        s = s[1:]
    
    result = 0
    for i in range(len(s)):
        d = ord(s[len(s) - 1 -i]) - 48
        result += (10**i)*d
        print(d,result)
    
    return (-1 if is_negative else 1)*result

In [114]:
10**2

100

In [117]:
str_to_int('-1234')

4 4
3 34
2 234
1 1234

-1234

In [118]:
def int_to_string(x):
    
    is_negative = False
    if x < 0:
        is_negative, x = True, -x
    
    s = []
    while True:
        s.append(chr(ord('0') + x % 10))
        x //= 10
        if x == 0:
            break
        
    return ('-' if is_negative else '') + ''.join(reversed(s))

In [123]:
int_to_string(-1)

'-1'

In [31]:
def base_conversion(s,b1,b2):
    
    num = 0
    is_negative = (s[0] == '-')
    print(is_negative)
    
    for i in range(len(s)-1):
        num += string.hexdigits.index(s[len(s) -1 -i].lower())*(b1**i)
    
    num += (0 if is_negative else string.hexdigits.index(s[0].lower())*(b1**(len(s)-1)))
    print(num)
    
    sout = []
    while True:
        d = string.hexdigits[num % b2].upper()
        sout.append(d)
        num //= b2
        if num == 0:
            break
    
    return ('-' if is_negative else '') + ''.join(reversed(sout))

In [32]:
import string
base_conversion('615',7,13)

False
306

'1A7'

In [17]:
string.hexdigits[10]

'a'

In [36]:
ord('B')

66

In [43]:
def spreadsheet_encoding(s):
    
    num = 0
    for i in range(len(s)):
        num += (ord(s[len(s)-i -1]) - ord('A') +1)*(26**i)
    
    return num

In [44]:
spreadsheet_encoding("BA")

53

In [45]:
spreadsheet_encoding("")

0